*{padding:0;margin:0;font-family:"微软雅黑";}
html{height:100%;}
body{min-width:1000px;min-height:400px;position:relative;height:100%;}
/*nav*/
#cover{height:100%;width:100%;position:fixed;background-color:black;opacity:0.4;z-index:-1;top:0;}
#nav{height:40px;width:100%;overflow:hidden;font-size:18px;position:fixed;top:0;z-index:1;}
#nav #name{float:left;margin-left:40px;color:white;line-height:40px;opacity:0;}
#nav ul{list-style:none;}
#nav li{float:right;margin-right:30px;}
#nav li a{display:block;width:60px;height:40px;line-height:40px;text-align:center;color:white;text-decoration:none;}
/*header*/
#header{height:100%;width:100%;padding-top:0;text-align:center;position:relative;top:40px;}
#header #header_wrapper{ position:absolute; top:0; bottom:0; left:0; right:0; text-align:center; margin:auto; width:100%; height:220px;}
#header span:nth-of-type(1){display:block;width:0px;height:2px;background:white;margin:0px auto 0;opacity:0;}
#header span:nth-of-type(2){display:block;width:0px;height:2px;background:white;margin:20px auto 0;opacity:0;}
#header h2{color:white;margin-top:20px;font-size:50px;font-family:"微软雅黑";}
#header p{color:white;margin-top:20px;margin-bottom:20px;font-size:30px;font-family:"微软雅黑";opacity:0;}
#header #header_down{ position:absolute; left:0; right:0; bottom:15%; margin:auto; width:100%; height:100px;background-color:red;}
#header p.content-down{color:white;margin:0;font-size:30px;line-height:30px;font-family:'微软雅黑';opacity:0;}
/*content*/
a{text-decoration:none;color:white;}
.content_pic1{background-color:rgb(43,50,61);color:white;width:100%;height:300px;opacity:0.95;}
.content_pic1 .pic{float:left;height:300px;width:35%;}
.content_pic1 .word{float:left;padding-top:20px;padding-bottom:20px;height:240px;width:65%;}
.word h2{text-align:center;margin-top:30px;font-size:40px;}
.word p{width:70%;margin:15px auto 0;}
.content_pic2{background-color:rgb(39,46,57);color:white;width:100%;height:300px;opacity:0.95;}
.content_pic2 .pic{float:left;height:300px;width:35%;}
.content_pic2 .word{float:left;padding-top:20px;padding-bottom:20px;height:230px;width:65%;}
.content_word2{background-color:rgb(39,46,57);color:white;opacity:0.95;
	width:100%;height:300px;}
.content_word2 .title{float:left;height:300px;width:35%;}
.content_word2 .paragraph{float:left;padding-top:40px;padding-bottom:20px;height:240px;width:65%;}
.content_word2  h3{text-align:center;margin-top:100px;font-size:40px;}
.content_word2  p{width:70%;margin:20px auto 0;}
.content_word1{background-color:rgb(43,50,61);color:white;opacity:0.95;
	width:100%;height:300px;}
.content_word1 .title{float:left;height:300px;width:35%;}
.content_word1 .paragraph{float:left;padding-top:40px;padding-bottom:20px;height:240px;width:65%;}
.content_word1  h3{text-align:center;margin-top:100px;font-size:40px;}
.content_word1  p{width:70%;margin:20px auto 0;}
/*pages*/
.slides{background-color:rgb(10,36,65);opacity:0.9;width:100%;height:50px;text-align:center;}
.slides a{text-decoration:none;display:inline-block;height:40px;width:20px;color:white;}
.slides a.chosen{color:red;}
/*footer*/
.foot{width:100%;height:120px;text-align:center;background-color:rgb(10,36,65);opacity:0.9;padding-top:20px;}
.foot a{display:inline-block;text-decoration:none;color:white;font-size:14px;margin-top:10px;}
.foot p{margin:40px auto 0;color:white;font-size:14px;}
