---
layout: list
title: 分类
---
<ul>
{% for category in site.categories %}
	{% if category.first == "日记随笔" %}
		<li><p><a href="{{ site.baseurl }}/category/diary.html" style="text-decoration:none;color:white">
			{{ category.first }}({{ category | last | size }})</a></p></li>
	{% elsif category.first == "前端开发" %}
		<li><p><a href="{{ site.baseurl }}/category/front_end.html" style="text-decoration:none;color:white">
			{{ category.first }}({{ category | last | size }})</a></p></li>
	{% elsif category.first == "后端开发" %}
		<li><p><a href="{{ site.baseurl }}/category/back_end.html" style="text-decoration:none;color:white">
			{{ category.first }}({{ category | last | size }})</a></p></li>
	{% elsif category.first == "网络通信" %}
		<li><p><a href="{{ site.baseurl }}/category/network.html" style="text-decoration:none;color:white">
			{{ category.first }}({{ category | last | size }})</a></p></li>
    {% endif %}
{% endfor %}
</ul>
