---
layout: home
title: 马龄阳的部落格
---
{% for post in paginator.posts %}
	{% if post.description %}
		<div class="wrapper pic_type">
			{% if paginator.page == 1 %}
			<div class="pic" style="background:url(img/{{ post.description }}) no-repeat;background-size:cover">
			{% else %}
			<div class="pic" style="background:url(../img/{{ post.description }}) no-repeat;background-size:cover">
			{% endif %}
			</div>
			<div class="word">
				<h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }} </a></h2>
				{{ post.excerpt }}
			</div>
	</div>
	{% else %}
		<div class="wrapper word_type">
			<div class="title">
				<h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
			</div>
			<div class="paragraph">
				{{ post.excerpt }}
			</div>
			<script>
				var h=$(".publish_title");
				h.css({"display":"none"});
			</script>
		</div>
	{% endif %}
{% endfor %}
<!-- <div class="slides">
  {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a href="{{ site.baseurl }}/index.html">&lt;</a>
      {% else %}
        <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}/index.html">&lt;</a>
      {% endif %}
  {% else %}
   	<a>&lt;</a>
  {% endif %}

  {% if paginator.page == 1 %}
    <a class="chosen">1</a>
  {% else %}
    <a href="{{ site.baseurl }}/index.html">1</a>
  {% endif %}

  {% for count in (2..paginator.total_pages) %}
    {% if count == paginator.page %}
        <a class="chosen">{{ count }}</a>
    {% else %}
        <a href="{{ site.baseurl }}/page{{ count }}/index.html">{{ count }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
      <a href="{{ site.baseurl }}{{ paginator.next_page_path }}/index.html">&gt;</a>
  {% else %}
      <a>&gt;</a>
  {% endif %}
</div> -->

{% if paginator.page == 1 %}
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/homepage.css" />
	<script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>
{% else %}
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/homepage.css"/>
	<script type="text/javascript" src="{{ site.baseurl }}/js/main2.js"></script>
{% endif %}