---
layout: category
description: 网络通信
---
{% for category in site.categories %}
	{% if category.first == "网络通信" %}
		{% for post in category.last %}
      <li class="right-item-img">
        <div class="article-wrap">
          <h3 class="article-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
          <p>{{ post.excerpt }}</p>
        </div>
        {% if post.description %}
          <div class="img-wrap" style="background: url(../img/{{ post.description }}) no-repeat;background-size: contain">
          </div>
        {% endif %}
		{% endfor %}
	{% endif %}
{% endfor %}
